@import "libs/reset.scss";
@import "libs/font-family.scss";
@import "libs/mixin.scss";


$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire:#99E2D0;
$primaire-clair: #9e6bdd;
$secondaire-clair: #f890db;
$tertiaire-fonce: #649e90;

$bgrd_color: rgb(255, 255, 255);
$bgrd_color_primaire: #9356DC;
$bgrd_color_tertiaire: #99E2D0;
$box-shadow-bouton: 0px 5px 15px #d2d2d2;

$font-size-de-titre: 2.2rem;
$font-size-de-base: 1.6rem;
$font-family-de-titre: shrikhand;
$font-family-de-base: Roboto-Regular;
$font-family-de-base-gras: Roboto-Bold;

html{
    font-size: 10px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.loader{
    @include loader;
    z-index: -50;
}

h1{
    font-family: $font-family-de-base-gras;
    font-size: $font-size-de-titre;
}

h2{
    font-family: $font-family-de-base-gras;
    font-size: $font-size-de-base;
}
h3{
    font-family: $font-family-de-titre;
    font-size: $font-size-de-base;
}
p{
    font-family: $font-family-de-base;
    font-size: $font-size-de-base;
}
header{
    position: relative;
    box-shadow: 0 3px 8px #bababa;
    z-index: 1;
}
#logo{
    @include bgrd-color-saturation(0);
    padding: 25px 0px 15px 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 14rem;
}

.explorer{
    position: relative;
    

    margin: 0 0 40px 0;
    
    &__emplacement{
        @include bgrd-color-saturation(9);
        padding: 20px 0px 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        span{    
            font-family: $font-family-de-base-gras;
            font-size: 1.4rem;
            padding: 0 0 0 2rem;
        }
        .fas, .fa{
            font-size: 1.3rem;
        }
    }

    &__restaurants{
        @include bgrd-color-saturation(5);
        padding: 40px 30px; 
        text-align: center;
        font-family: $font-family-de-base-gras;
        font-size: $font-size-de-base;
        h1{
            margin: 0 30px 20px 30px;
         }
         p{
             margin: 10px 0 30px 0;
         }
        &__bouton{
            width: 70%;
            font-size: 1.4rem;
            @include bouton-violet;
        }
    }
}

.fonctionnement{
    padding: 0px 15px 0px 20px;
    
    &__boutons{
        display: flex;
        flex-direction: column;
        padding: 20px 0px 50px 0px;
        
        .fonctionnement__bouton{
            border-radius: 1rem;
            box-shadow: $box-shadow-bouton;
            font-family: $font-family-de-base-gras;
            font-size: 1.4rem;
            padding: 2.3rem;
            margin: 11px 0px;
            text-align: center;
            @include bgrd-color-saturation(4);
            position: relative;
            cursor: pointer;
            
            &__icon{
                font-size: 1.5rem;
                @include bgrd-color-saturation(7);
                color: rgb(112, 112, 112);
                position: absolute;
                left: 4rem;
            }
            
            &::after{
                content: attr(data-number);
                background-color: $primaire;
                width: 2rem;
                height: 2rem;
                font-family: $font-family-de-base;
                font-size: 1.15rem;
                text-align: center;
                color: white;
                border-radius: 50px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 2.15rem;
                left: -1rem;
            }
                
            &:hover{
                @include bgrd-button-saturation(35);
                transform: scale(1.01);
                &:hover .fas{
                    color: $primaire;
                    
                }
            }
        }
    }
}

.restaurants{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 25px 20px 25px;
    @include bgrd-color-saturation(5);
    &__liste{
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        &__bloc{
            position: relative;
            margin-bottom: 10px;
            
            &:hover{
                transform: translate(2px, -2px);
            }
            &__carte{
                &:hover{
                    box-shadow: 0 0 15px $primaire;
                    
                }
                display: block;
                position: relative; 
                cursor: pointer;
                border-radius: 15px;
                box-shadow: $box-shadow-bouton;
                &__photo{
                    width: 100%;
                    height: 22rem;
                    object-fit: cover;
                    border-radius: 15px;
                    position: relative;
                }
                &__nouveau{
                    color: #489985;
                    @include bgrd-nouveau-saturation(0);
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    padding: 7px 12px;
                    font-family: $font-family-de-base-gras;
                    font-size: 1rem;
                }
                &__description{
                    color: black;
                    background: white;
                    border-radius: 0px 0px 15px 15px;
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    padding: 1.5rem 1rem 1.5rem 1rem;
                    h2{
                        margin-bottom: 5px;
                        span{
                            text-transform: uppercase; 
                        }
                    }
                }
            }    
            &__favori{
                
                @include coeur-de-fevori;
                .far, .fas, .fa {
                    position: absolute;
                    bottom: 40px;
                    right: 22px;
                }
            }
        }
    }
}

footer{    
    padding: 20px 20px 20px 30px;
    @include bgrd-color-saturation(80);
    color: white;
    nav{ 
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        a{
            font-family: $font-family-de-base;
            font-size: 1.4rem;
            margin-bottom: 10px;
            color: white;
            .fas, .fa{
                padding: 0 5px 0 0;
            }
        }
    }
}
@media screen and (min-width: 400px) and (max-width: 500px){
    html{
        font-size: 13px;
    }
}
@media screen and (min-width: 500px) and (max-width: 600px){
    html{
        font-size: 14px;
    }
    .explorer{
        &__restaurants{
            &__bouton{
                width: 300px;
            }
        }
    }
}
@media screen and (min-width: 600px) and (max-width: 700px){
    html{
        font-size: 16px;
    }
    .explorer{
        &__restaurants{
            &__bouton{
                width: 300px;
            }
        }
    }
}
@media screen and (min-width: 700px) and (max-width: 900px){
    html{
        font-size: 16px;
    }
    .explorer{
        &__restaurants{
            &__bouton{
                width: 300px;
            }
        }
    }
    .restaurants{
        padding: 40px 15px 20px 15px;
        &__liste{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            
            &__bloc{
                width: 48%;
                margin: 0 0.25rem 0.5rem 0.25rem;
            }
        }
    }
    .fonctionnement{
        padding: 0px 15px 0px 20px;
        
        &__boutons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px 0px 50px 0px;
            
            .fonctionnement__bouton{
                
                font-size: 1.2rem;
                padding: 2.3rem 2rem 2.3rem 4rem;
                margin: 11px 0px;
                text-align: right;
                &__icon{
                    left: 2rem;
                }
            }
        }
    }
    footer{    
        padding: 35px 20px 20px 40px;
        nav{ 
            padding: 30px 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;
            a{
                width: 50%;
                margin-bottom: 20px;
            }
        }
    }
}
@media screen and (min-width: 900px) and (max-width: 992px){
    html{
        font-size: 14px;
    }
    .explorer{
        &__restaurants{
            &__bouton{
                width: 300px;
            }
        }
    }
    .restaurants{
        padding: 40px 15px 20px 15px;
        &__liste{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            
            &__bloc{
                width: 48%;
                margin: 0 0.25rem 0.5rem 0.25rem;
            }
        }
    }
    .fonctionnement{
        padding: 0px 15px 0px 20px;
        
        &__boutons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px 0px 50px 0px;
            
            .fonctionnement__bouton{
                
                font-size: 1.2rem;
                padding: 2.3rem 2rem 2.3rem 4rem;
                margin: 11px 13px;
                text-align: right;
                &__icon{
                    left: 2rem;
                }
            }
        }
    }
    footer{
        padding: 31px 28px 20px 36px;
        nav{ 
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 30px 35px 30px 0;
        }
    }
    @media screen and (min-width: 954px) and (max-width: 992px){
        html{
            font-size: 15px;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    html{
        font-size: 16px;
    }
    .explorer{
        &__restaurants{
            &__bouton{
                width: 300px;
            }
        }
    }
    .restaurants{
        padding: 40px 15px 20px 15px;
        &__liste{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            
            &__bloc{
                width: 32%;
                margin: 0 0.25rem 0.5rem 0.25rem;
            }
        }
    }
    .fonctionnement{
        padding: 0px 15px 0px 20px;
        
        &__boutons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px 0px 50px 0px;
            
            .fonctionnement__bouton{
                
                font-size: 1.2rem;
                padding: 2.3rem 2rem 2.3rem 4rem;
                margin: 11px 13px;
                text-align: right;
                &__icon{
                    left: 2rem;
                }
            }
        }
    }
    footer{
        padding: 31px 77px 20px 36px;
        nav{ 
            padding: 30px 0 30px 0;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
    }
}
@media screen and (min-width: 1200px) {
    html{
    font-size: 16px;
}
.explorer{
    &__restaurants{
        &__bouton{
            width: 300px;
        }
    }
}
    .restaurants{
        padding: 40px 15px 20px 15px;
        &__liste{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            
            &__bloc{
                width: 24%;
                margin: 0 0.25rem 0.5rem 0.25rem;
            }
        }
    }
    .fonctionnement{
        padding: 0px 15px 0px 20px;
        
        &__boutons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px 0px 50px 0px;
            
            .fonctionnement__bouton{
                
                font-size: 1.2rem;
                padding: 2.3rem 2rem 2.3rem 4rem;
                margin: 11px 13px;
                text-align: right;
                &__icon{
                    left: 2rem;
                }
            }
        }
    }
    footer{
        padding: 31px 77px 20px 36px;
        nav{ 
            padding: 30px 0 30px 0;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
    }
}
