@import "libs/reset.scss";
@import "libs/font-family.scss";
@import"libs/mixin.scss";

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire:#99E2D0;
$primaire-clair: #9e6bdd;
$secondaire-clair: #f890db;

$bgrd_color: rgb(255, 255, 255);
$bgrd_color_primaire: #9356DC;
$bgrd_color_tertiaire: #99E2D0;
$box-shadow-bouton: 0px 5px 15px #d2d2d2;

$font-size-de-titre: 1.5rem;
$font-size-de-base: 1.5rem;
$font-family-de-titre: shrikhand;
$font-family-de-base: Roboto-Regular;
$font-family-de-base-gras: Roboto-Bold;

html{
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-de-base;
}

h1{
    font-family: $font-family-de-titre;
    font-size: $font-size-de-titre;
}

h2{
    font-family: $font-family-de-base-gras;
    font-size: 1.8rem;
}

h3{
    font-family: $font-family-de-base-gras;
}

p{
    font-family: $font-family-de-base;
    font-size: $font-size-de-base;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    .btn{
        .fas, .fa{
            position: absolute;
            top: 30px;
            left: 30px;
            font-size: 25px;
        }
    }
    
    #logo{
        @include bgrd-color-saturation(0);
        padding: 25px 0px 15px 0px;
        
        display: flex;
        justify-content: center;
    }

    .logo{
        width: 250px;
    }
}

main{
    @include bgrd-color-saturation(7);
}

.restaurant_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
           
.restaurant{
    position: relative;
    top: -70px;
    @include bgrd-color-saturation(7);
    border-radius: 50px 50px 0 0;
    padding: 40px 20px 25px 20px;
    &_nom{
        position: relative;
        
        &_titre{
            font-family: $font-family-de-titre;
            font-size: 2.4rem;
        }
        &_favori{
            @include coeur-de-fevori-page-restaurant;
            .fas, .far{
            position: absolute;
            right: 30px;
            top: 10px;
            }
        }    
    }
    &_menu{
        display: flex;
        flex-direction: column;
        
        &_entrees {
            @include les-cartes;
        }
        &_plats {
            @include les-cartes;
        }
        &_desserts {
            @include les-cartes;
        }
    }
}
.restaurant_bouton{
    display: flex;
    justify-content: center;
    margin: 50px 0px 70px 0px;
    &_commande{
        font-size: 1.4rem;
        @include bouton-violet;
    }
}

footer{
    font-family: $font-family-de-base;
    font-size: 1.3rem;
    padding: 20px 20px 20px 30px;
    @include bgrd-color-saturation(80);
    color: white;
    nav{ 
        padding: 20px 0px;
    }
    div{
        margin-bottom: 10px;
    }
    .fas, .fa{
        padding: 0 5px 0 0;
    }
    a{
        color: white;
    }   
}
