html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: "Shrikhand";
  src: url("police/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("police/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("police/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("police/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("police/Roboto-Black.ttf") format("truetype");
}
html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #cccccc;
  opacity: 0;
  animation: opacity 3s ease-in;
  -webkit-animation: opacity 3s ease-in;
  -o-animatio: opacity 3s ease-in;
  /*animation de cercle*/
  /*animation des lettres de loading)*/
  /*animation de loader*/
  z-index: -50;
}
.loader_circle {
  border-top: 40px solid #9356DC;
  border-right: 40px solid #f890db;
  border-bottom: 40px solid #9e6bdd;
  border-left: 40px solid #FF79DA;
  background: #99E2D0;
  border-radius: 50%;
  width: 27rem;
  height: 27rem;
  animation: spin 0.5s linear infinite;
  -webkit-animation: spin 0.5s linear infinite;
  -o-animation: spin 0.5s linear infinite;
}
.loader_loading {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.loader_loading .lettre {
  color: #99E2D0;
  font-size: 3.5rem;
  letter-spacing: 0.4rem;
  font-family: Roboto-Black;
  animation: flash 0.5s linear infinite;
  -webkit-animation: flash 0.5s linear infinite;
  -o-animation: flash 0.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes flash {
  0% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
  90% {
    color: #649e90;
    text-shadow: none;
  }
  100% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
}
@keyframes flash {
  0% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
  90% {
    color: #649e90;
    text-shadow: none;
  }
  100% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
}
.loader .lettre:nth-child(1) {
  animation-delay: 0s;
}
.loader .lettre:nth-child(2) {
  animation-delay: 0.1s;
}
.loader .lettre:nth-child(3) {
  animation-delay: 0.2s;
}
.loader .lettre:nth-child(4) {
  animation-delay: 0.3s;
}
.loader .lettre:nth-child(5) {
  animation-delay: 0.4s;
}
.loader .lettre:nth-child(6) {
  animation-delay: 0.5s;
}
.loader .lettre:nth-child(7) {
  animation-delay: 0.6s;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 1;
    z-index: 100;
  }
  70% {
    opacity: 0.9;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -50;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
    z-index: 100;
  }
  70% {
    opacity: 0.9;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -50;
  }
}

h1 {
  font-family: Roboto-Bold;
  font-size: 2.2rem;
}

h2 {
  font-family: Roboto-Bold;
  font-size: 1.6rem;
}

h3 {
  font-family: shrikhand;
  font-size: 1.6rem;
}

p {
  font-family: Roboto-Regular;
  font-size: 1.6rem;
}

header {
  position: relative;
  box-shadow: 0 3px 8px #bababa;
  z-index: 1;
}

#logo {
  background: white;
  padding: 25px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 14rem;
}

.explorer {
  position: relative;
  margin: 0 0 40px 0;
}
.explorer__emplacement {
  background: #e8e8e8;
  padding: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explorer__emplacement span {
  font-family: Roboto-Bold;
  font-size: 1.4rem;
  padding: 0 0 0 2rem;
}
.explorer__emplacement .fas, .explorer__emplacement .fa {
  font-size: 1.3rem;
}
.explorer__restaurants {
  background: #f2f2f2;
  padding: 40px 30px;
  text-align: center;
  font-family: Roboto-Bold;
  font-size: 1.6rem;
}
.explorer__restaurants h1 {
  margin: 0 30px 20px 30px;
}
.explorer__restaurants p {
  margin: 10px 0 30px 0;
}
.explorer__restaurants__bouton {
  width: 70%;
  font-size: 1.4rem;
  border-radius: 50px;
  box-shadow: 0px 5px 15px #d2d2d2;
  font-family: Roboto-Regular;
  padding: 13px 10px;
  color: white;
  text-align: center;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
}
.explorer__restaurants__bouton:hover {
  box-shadow: 0px 5px 15px #979797;
  background-image: linear-gradient(to top left, #9e6bdd, #f890db);
}

.fonctionnement {
  padding: 0px 15px 0px 20px;
}
.fonctionnement__boutons {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 50px 0px;
}
.fonctionnement__boutons .fonctionnement__bouton {
  border-radius: 1rem;
  box-shadow: 0px 5px 15px #d2d2d2;
  font-family: Roboto-Bold;
  font-size: 1.4rem;
  padding: 2.3rem;
  margin: 11px 0px;
  text-align: center;
  background: whitesmoke;
  position: relative;
  cursor: pointer;
}
.fonctionnement__boutons .fonctionnement__bouton__icon {
  font-size: 1.5rem;
  background: #ededed;
  color: #707070;
  position: absolute;
  left: 4rem;
}
.fonctionnement__boutons .fonctionnement__bouton::after {
  content: attr(data-number);
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  font-family: Roboto-Regular;
  font-size: 1.15rem;
  text-align: center;
  color: white;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.15rem;
  left: -1rem;
}
.fonctionnement__boutons .fonctionnement__bouton:hover {
  background: #f2eafb;
  transform: scale(1.05);
}
.fonctionnement__boutons .fonctionnement__bouton:hover:hover .fas {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px 25px 20px 25px;
  background: #f2f2f2;
}
.restaurants__liste {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.restaurants__liste__bloc {
  position: relative;
  margin-bottom: 10px;
}
.restaurants__liste__bloc:hover {
  transform: translate(2px, -2px);
}
.restaurants__liste__bloc__carte {
  display: block;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 5px 15px #d2d2d2;
}
.restaurants__liste__bloc__carte:hover {
  box-shadow: 0 0 15px #9356DC;
}
.restaurants__liste__bloc__carte__photo {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
}
.restaurants__liste__bloc__carte__nouveau {
  color: #489985;
  background: #99e2d0;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px 12px;
  font-family: Roboto-Bold;
  font-size: 1rem;
}
.restaurants__liste__bloc__carte__description {
  color: black;
  background: white;
  border-radius: 0px 0px 15px 15px;
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 1.5rem 1rem 1.5rem 1rem;
}
.restaurants__liste__bloc__carte__description h2 {
  margin-bottom: 5px;
}
.restaurants__liste__bloc__carte__description h2 span {
  text-transform: uppercase;
}
.restaurants__liste__bloc__favori {
  cursor: pointer;
}
.restaurants__liste__bloc__favori .far, .restaurants__liste__bloc__favori .fa {
  font-size: 2rem;
  color: black;
}
.restaurants__liste__bloc__favori .far:hover, .restaurants__liste__bloc__favori .fa:hover, .restaurants__liste__bloc__favori .far:active, .restaurants__liste__bloc__favori .fa:active {
  color: transparent;
  font-weight: 900;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 1s;
}
.restaurants__liste__bloc__favori .far, .restaurants__liste__bloc__favori .fas, .restaurants__liste__bloc__favori .fa {
  position: absolute;
  bottom: 40px;
  right: 22px;
}

footer {
  padding: 20px 20px 20px 30px;
  background: #333333;
  color: white;
}
footer nav {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}
footer nav a {
  font-family: Roboto-Regular;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: white;
}
footer nav a .fas, footer nav a .fa {
  padding: 0 5px 0 0;
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .explorer__restaurants__bouton {
    width: 300px;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  html {
    font-size: 16px;
  }

  .explorer__restaurants__bouton {
    width: 300px;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  html {
    font-size: 16px;
  }

  .explorer__restaurants__bouton {
    width: 300px;
  }

  .restaurants {
    padding: 40px 15px 20px 15px;
  }
  .restaurants__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants__liste__bloc {
    width: 48%;
    margin: 0 0.25rem 0.5rem 0.25rem;
  }

  .fonctionnement {
    padding: 0px 15px 0px 20px;
  }
  .fonctionnement__boutons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px 50px 0px;
  }
  .fonctionnement__boutons .fonctionnement__bouton {
    font-size: 1.2rem;
    padding: 2.3rem 2rem 2.3rem 4rem;
    margin: 11px 0px;
    text-align: right;
  }
  .fonctionnement__boutons .fonctionnement__bouton__icon {
    left: 2rem;
  }

  footer {
    padding: 35px 20px 20px 40px;
  }
  footer nav {
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  footer nav a {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 900px) and (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .explorer__restaurants__bouton {
    width: 300px;
  }

  .restaurants {
    padding: 40px 15px 20px 15px;
  }
  .restaurants__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants__liste__bloc {
    width: 48%;
    margin: 0 0.25rem 0.5rem 0.25rem;
  }

  .fonctionnement {
    padding: 0px 15px 0px 20px;
  }
  .fonctionnement__boutons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px 50px 0px;
  }
  .fonctionnement__boutons .fonctionnement__bouton {
    font-size: 1.2rem;
    padding: 2.3rem 2rem 2.3rem 4rem;
    margin: 11px 13px;
    text-align: right;
  }
  .fonctionnement__boutons .fonctionnement__bouton__icon {
    left: 2rem;
  }

  footer {
    padding: 31px 28px 20px 36px;
  }
  footer nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 35px 30px 0;
  }
}
@media screen and (min-width: 900px) and (max-width: 992px) and (min-width: 954px) and (max-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }

  .explorer__restaurants__bouton {
    width: 300px;
  }

  .restaurants {
    padding: 40px 15px 20px 15px;
  }
  .restaurants__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants__liste__bloc {
    width: 32%;
    margin: 0 0.25rem 0.5rem 0.25rem;
  }

  .fonctionnement {
    padding: 0px 15px 0px 20px;
  }
  .fonctionnement__boutons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px 50px 0px;
  }
  .fonctionnement__boutons .fonctionnement__bouton {
    font-size: 1.2rem;
    padding: 2.3rem 2rem 2.3rem 4rem;
    margin: 11px 13px;
    text-align: right;
  }
  .fonctionnement__boutons .fonctionnement__bouton__icon {
    left: 2rem;
  }

  footer {
    padding: 31px 77px 20px 36px;
  }
  footer nav {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  .explorer__restaurants__bouton {
    width: 300px;
  }

  .restaurants {
    padding: 40px 15px 20px 15px;
  }
  .restaurants__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants__liste__bloc {
    width: 24%;
    margin: 0 0.25rem 0.5rem 0.25rem;
  }

  .fonctionnement {
    padding: 0px 15px 0px 20px;
  }
  .fonctionnement__boutons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px 50px 0px;
  }
  .fonctionnement__boutons .fonctionnement__bouton {
    font-size: 1.2rem;
    padding: 2.3rem 2rem 2.3rem 4rem;
    margin: 11px 13px;
    text-align: right;
  }
  .fonctionnement__boutons .fonctionnement__bouton__icon {
    left: 2rem;
  }

  footer {
    padding: 31px 77px 20px 36px;
  }
  footer nav {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
