@charset "UTF-8";
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: "Shrikhand";
  src: url("police/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("police/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("police/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("police/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("police/Roboto-Black.ttf") format("truetype");
}
html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: shrikhand;
  font-size: 2.4rem;
}

h2 {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
}

h3 {
  font-family: shrikhand;
  font-size: 1.5rem;
}

p {
  font-family: Roboto-Regular;
  font-size: 1.5rem;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
header .btn .fas, header .btn .fa {
  position: absolute;
  top: 26px;
  left: 23px;
  font-size: 1.7rem;
}
header #logo {
  background: white;
  padding: 25px 0px 15px 0px;
  display: flex;
  justify-content: center;
}
header .logo {
  width: 14rem;
}

main {
  background: #ededed;
  margin-bottom: -15px;
}

.restaurant_photo {
  width: 100%;
  height: 24rem;
}
.restaurant_photo_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant {
  position: relative;
  top: -52px;
  background: #ededed;
  border-radius: 50px 50px 0 0;
  padding: 30px 10px 25px 10px;
}
.restaurant_nom {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}
.restaurant_nom_titre {
  font-family: shrikhand;
  font-size: 2.4rem;
}
.restaurant_nom_favori {
  cursor: pointer;
}
.restaurant_nom_favori .far, .restaurant_nom_favori .fa {
  font-size: 2rem;
  color: black;
}
.restaurant_nom_favori .far:hover, .restaurant_nom_favori .fa:hover, .restaurant_nom_favori .far:active, .restaurant_nom_favori .fa:active {
  color: transparent;
  font-weight: 900;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 1s;
}
.restaurant_nom_favori .fas, .restaurant_nom_favori .far {
  position: absolute;
  right: 2rem;
  top: 0.85rem;
}
.restaurant_menu {
  display: flex;
  flex-direction: column;
}
.restaurant_menu_entrees {
  padding: 25px 0px 0px 0px;
}
.restaurant_menu_entrees_type {
  margin-bottom: 20px;
  padding: 0 0 0 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.restaurant_menu_entrees_type::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #99E2D0;
  margin: 5px 0px 20px 5px;
}
.restaurant_menu_entrees_carte {
  opacity: 0 3s ease-in;
  transition: all 0.5s ease-in-out;
  animation: translate 1s ease-in-out;
  background: white;
  width: 100%;
  height: auto;
  border-radius: 1.2rem;
  margin-bottom: 1.3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
  /* animation pour les entrées*/
  /* animation pour les platss*/
  /* animation pour les desserts*/
}
@keyframes translate {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.restaurant_menu_entrees_carte:hover > .restaurant_menu_entrees_carte_check {
  background-color: #99E2D0;
  width: 100px;
}
.restaurant_menu_entrees_carte:hover > .restaurant_menu_entrees_carte_check .restaurant_menu_entrees_carte_check_icon {
  transform: rotate(0deg);
}
.restaurant_menu_entrees_carte:hover > .restaurant_menu_plats_carte_check {
  background-color: #99E2D0;
  width: 100px;
}
.restaurant_menu_entrees_carte:hover > .restaurant_menu_plats_carte_check .restaurant_menu_plats_carte_check_icon {
  transform: rotate(0deg);
}
.restaurant_menu_entrees_carte:hover > .restaurant_menu_desserts_carte_check {
  background-color: #99E2D0;
  width: 100px;
}
.restaurant_menu_entrees_carte:hover > .restaurant_menu_desserts_carte_check .restaurant_menu_desserts_carte_check_icon {
  transform: rotate(0deg);
}
.restaurant_menu_entrees_carte_nom {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.restaurant_menu_entrees_carte_nom h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant_menu_entrees_carte_nom p {
  font-size: 1.35rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant_menu_entrees_carte_prix {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  padding: 0 1.8rem 1rem 0;
  transition: all 0.5s ease-in;
}
.restaurant_menu_entrees_carte_check {
  background-color: #99E2D0;
  width: 0px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
}
.restaurant_menu_entrees_carte_check_icon {
  color: #99E2D0;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 15rem;
  margin: 1.6rem;
  padding: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: rotate(360deg);
  transition: transform 0.5s ease-in;
}
.restaurant_menu_plats {
  padding: 25px 0px 0px 0px;
}
.restaurant_menu_plats_type {
  margin-bottom: 20px;
  padding: 0 0 0 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.restaurant_menu_plats_type::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #99E2D0;
  margin: 5px 0px 20px 5px;
}
.restaurant_menu_plats_carte {
  opacity: 0 3s ease-in;
  transition: all 0.5s ease-in-out;
  animation: translate 1s ease-in-out;
  background: white;
  width: 100%;
  height: auto;
  border-radius: 1.2rem;
  margin-bottom: 1.3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
  /* animation pour les entrées*/
  /* animation pour les platss*/
  /* animation pour les desserts*/
}
@keyframes translate {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.restaurant_menu_plats_carte:hover > .restaurant_menu_entrees_carte_check {
  background-color: #99E2D0;
  width: 100px;
}
.restaurant_menu_plats_carte:hover > .restaurant_menu_entrees_carte_check .restaurant_menu_entrees_carte_check_icon {
  transform: rotate(0deg);
}
.restaurant_menu_plats_carte:hover > .restaurant_menu_plats_carte_check {
  background-color: #99E2D0;
  width: 100px;
}
.restaurant_menu_plats_carte:hover > .restaurant_menu_plats_carte_check .restaurant_menu_plats_carte_check_icon {
  transform: rotate(0deg);
}
.restaurant_menu_plats_carte:hover > .restaurant_menu_desserts_carte_check {
  background-color: #99E2D0;
  width: 100px;
}
.restaurant_menu_plats_carte:hover > .restaurant_menu_desserts_carte_check .restaurant_menu_desserts_carte_check_icon {
  transform: rotate(0deg);
}
.restaurant_menu_plats_carte_nom {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.restaurant_menu_plats_carte_nom h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant_menu_plats_carte_nom p {
  font-size: 1.35rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant_menu_plats_carte_prix {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  padding: 0 1.8rem 1rem 0;
  transition: all 0.5s ease-in;
}
.restaurant_menu_plats_carte_check {
  background-color: #99E2D0;
  width: 0px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
}
.restaurant_menu_plats_carte_check_icon {
  color: #99E2D0;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 15rem;
  margin: 1.6rem;
  padding: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: rotate(360deg);
  transition: transform 0.5s ease-in;
}
.restaurant_menu_desserts {
  padding: 25px 0px 0px 0px;
}
.restaurant_menu_desserts_type {
  margin-bottom: 20px;
  padding: 0 0 0 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.restaurant_menu_desserts_type::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #99E2D0;
  margin: 5px 0px 20px 5px;
}
.restaurant_menu_desserts_carte {
  opacity: 0 3s ease-in;
  transition: all 0.5s ease-in-out;
  animation: translate 1s ease-in-out;
  background: white;
  width: 100%;
  height: auto;
  border-radius: 1.2rem;
  margin-bottom: 1.3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
  /* animation pour les entrées*/
  /* animation pour les platss*/
  /* animation pour les desserts*/
}
@keyframes translate {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.restaurant_menu_desserts_carte:hover > .restaurant_menu_entrees_carte_check {
  background-color: #99E2D0;
  width: 100px;
}
.restaurant_menu_desserts_carte:hover > .restaurant_menu_entrees_carte_check .restaurant_menu_entrees_carte_check_icon {
  transform: rotate(0deg);
}
.restaurant_menu_desserts_carte:hover > .restaurant_menu_plats_carte_check {
  background-color: #99E2D0;
  width: 100px;
}
.restaurant_menu_desserts_carte:hover > .restaurant_menu_plats_carte_check .restaurant_menu_plats_carte_check_icon {
  transform: rotate(0deg);
}
.restaurant_menu_desserts_carte:hover > .restaurant_menu_desserts_carte_check {
  background-color: #99E2D0;
  width: 100px;
}
.restaurant_menu_desserts_carte:hover > .restaurant_menu_desserts_carte_check .restaurant_menu_desserts_carte_check_icon {
  transform: rotate(0deg);
}
.restaurant_menu_desserts_carte_nom {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.restaurant_menu_desserts_carte_nom h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant_menu_desserts_carte_nom p {
  font-size: 1.35rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant_menu_desserts_carte_prix {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  padding: 0 1.8rem 1rem 0;
  transition: all 0.5s ease-in;
}
.restaurant_menu_desserts_carte_check {
  background-color: #99E2D0;
  width: 0px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
}
.restaurant_menu_desserts_carte_check_icon {
  color: #99E2D0;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 15rem;
  margin: 1.6rem;
  padding: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: rotate(360deg);
  transition: transform 0.5s ease-in;
}

.restaurant_bouton {
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}
.restaurant_bouton_commande {
  width: 50%;
  font-size: 1.4rem;
  border-radius: 50px;
  box-shadow: 0px 5px 15px #d2d2d2;
  font-family: Roboto-Regular;
  padding: 13px 10px;
  color: white;
  text-align: center;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
}
.restaurant_bouton_commande:hover {
  box-shadow: 0px 5px 15px #979797;
  background-image: linear-gradient(to top left, #9e6bdd, #f890db);
}

footer {
  font-family: Roboto-Regular;
  font-size: 1.3rem;
  padding: 20px 20px 20px 30px;
  background: #333333;
  color: white;
}
footer nav {
  padding: 20px 0px;
}
footer div {
  margin-bottom: 10px;
}
footer .fas, footer .fa {
  padding: 0 5px 0 0;
}
footer a {
  color: white;
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  html {
    font-size: 17px;
  }
}
@media screen and (min-width: 700px) and (max-width: 992px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 17px;
  }

  .restaurant {
    padding: 4rem 14rem 2rem 14rem;
  }

  footer nav {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 17px;
  }

  .restaurant {
    padding: 4rem 14rem 2rem 14rem;
  }

  footer nav {
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style_restaurant.css.map */
